# Python cache
__pycache__/
*.py[cod]
*.pyo



# Virtual environments
venv/
.venv/
env/
.env/

# Environment variable files
.env
.env.local

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE / editor folders
.vscode/
.idea/
*.swp
*.swo

# Jupyter checkpoints
.ipynb_checkpoints/

# Pytest / coverage
.pytest_cache/
htmlcov/
.coverage
